/* Empty. Add your own CSS if you like */
.slider-footer{
  height: 45px;
}

.hidden-element{
  display: none;
}
.header-image{
  height: 250px;
  max-width: 1024px;
  width:100%;
  min-width: 200px;
  margin:0 auto;
  background-image: url('../images/stamp-bg.jpg');
  background-repeat: no-repeat;
  background-position: center top;
}
.btn-main-page{
  border: 1px solid navy;
  background-color: #387ef5;
  opacity: 0.7;
  color: #333;

}
.padding{
  padding: 0;
}
.textarea-info{
  width:100%;
  height: 60px;
  border-left: 1px solid #dedede;
}
.overlay-load {
  background: #2d2d2d;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 51000;
  opacity: .8;
}
.visible-load {
  /*background: #061329;*/
  /*position: fixed;*/
  display: flex;
  align-items:flex-end;
  justify-content:center;
  align-self: center;
  min-height:100%;
  margin-bottom: 150px;

}
.visible-load div.message{

  min-height: 60px;
  min-width: 150px;
  margin-bottom: 150px;
  background-color: #000;
  border: 1px solid #000;
  opacity: 1;
  border-radius: 5px;
  color:#fff;
  text-align: center;
}
.register-flex{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#register-window h2 {
  text-align: center;
  color: #555;
  font-size: 14px;
}
.content-load {
  padding: 0 1em;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: WhiteSmoke;
}
#register-window {
  display: none;
  /*left:0;
  top:0;
  bottom: 0;
  right: 0;
  position: fixed;*/
  /*top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 50000;*/

}
/*ion-spinner {
  display: block;
  margin: auto;
  text-align: center;
}*/
